@media (max-width: 1400px) {

.App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194844499847950427/IMG_8238.jpg?ex=65b1d4a7&is=659f5fa7&hm=bde34644ca21ca330ae56ba2cc496cb0416ce8fb74b6136c9a67340f1ca37d5c&=&format=webp&width=1309&height=466");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  width: 100%;
  height: 460px;
}
.Navbar{
  color: whitesmoke;
  border-width: 0.3em;
  height: 90px;
  width: 100%;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 60px;
  width: 100%;
  margin-top: 150px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
.gallery {
  border: solid fuchsia;
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  border: solid green;
  color: whitesmoke;
  font-family: BodoniMT;
  height: 120px;
  width: 450px;
}
.travel {
  border: solid blue;
  border-width: 0.3em;
  width: 850px;
  height: 500px;
  font-family: BodoniMT;
  border-radius: 10px;
  text-align: center;
  max-width: 850px;
  max-height: 500px;
  margin: 30px;
}
.header{
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.icon{
  height: 60px;
  width: 150px;
  color: whitesmoke;
  font-size: 22px;
  font-family: BodoniMT;
  align-content: center;
  margin-top: 30px;
  font-weight: bolder;
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: BodoniMT;
  background-color: burlywood;
}
.carousel-image{
  border: solid orange;
  display: flex;
}
.carousel-container{
  border: solid yellow;
  display: flex;
  justify-content: center;
  margin-left: 550px;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid black;
  background-color: black;
  font-size: 20px;
  color: whitesmoke;
  font-family: BodoniMT;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}

.url{
  height: 1000px;
  border: solid fuchsia;
  font-size: 16px;
  color: whitesmoke;
  font-family: BodoniMT;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.apiLink{
  border: solid blue;
  width: 33%;
  color: black;
  font-size: 16px;
}
.trivia{
  border: solid greenyellow;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 40%;
  backdrop-filter: blur(6px);
  margin-top: 50px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
    font-family: Allura;
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: whitesmoke;
  margin-left: 20px;
  font-family: BodoniMT;
  font-size: 25px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
}
@media (max-width: 980px) {
  .App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194844499847950427/IMG_8238.jpg?ex=65b1d4a7&is=659f5fa7&hm=bde34644ca21ca330ae56ba2cc496cb0416ce8fb74b6136c9a67340f1ca37d5c&=&format=webp&width=1309&height=466");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  width: 100%;
  height: 450px;
}
.Navbar{
  color: whitesmoke;
  border-width: 0.3em;
  height: 90px;
  width: 100%;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 60px;
  width: 100%;
  margin-top: 150px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
.gallery {
  border: solid fuchsia;
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  border: solid green;
  color: whitesmoke;
  font-family: BodoniMT;
  height: 120px;
  width: 450px;
}
.travel {
  border: solid blue;
  border-width: 0.3em;
  width: 850px;
  height: 500px;
  font-family: BodoniMT;
  border-radius: 10px;
  text-align: center;
  max-width: 850px;
  max-height: 500px;
  margin: 30px;
}
.header{
  height: 570px;
  display: inline;
  flex-direction: column;
  justify-content: right;
}
.icon{
  width: 150px;
  color: whitesmoke;
  font-size: 22px;
  font-family: BodoniMT;
  align-content: center;
  font-weight: bolder;
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: BodoniMT;
  background-color: burlywood;
}
.carousel-image{
  border: solid orange;
  display: flex;
}
.carousel-container{
  border: solid yellow;
  display: flex;
  justify-content: center;
  margin-left: 550px;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid black;
  background-color: black;
  font-size: 20px;
  color: whitesmoke;
  font-family: BodoniMT;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}

.url{
  height: 1000px;
  border: solid fuchsia;
  font-size: 16px;
  color: whitesmoke;
  font-family: BodoniMT;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.apiLink{
  border: solid blue;
  width: 33%;
  color: black;
  font-size: 16px;
}
.trivia{
  border: solid greenyellow;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 50%;
  margin-top: 50px;
  backdrop-filter: blur(3px);
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 45px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: #fbf9f9;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-shadow:
    1px 1px 2px rgb(254, 253, 253),
    3 5 5em white,
    5 5 0.7em white;
}
}
@media (max-width: 460px) {
  .App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194815865477156965/IMG_7451.jpg?ex=65b1b9fc&is=659f44fc&hm=2628436036df4fcb5eb39e5dc58ddd6e5bec2efe2ab58432f85d518a4ae646b0&=&format=webp&width=480&height=625");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  width: 460px;
}
.Navbar{
  border: solid pink;
  display: inline;
  flex-direction: column;
  color: whitesmoke;
  border-width: 0.3em;
  height: 60px;
  width: 100%;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 60px;
  width: 100%;
  margin-top: 250px;
}
.icons{
  align-items: center;
  color: whitesmoke;
}
.gallery {
  border: solid fuchsia;
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  border: solid green;
  color: whitesmoke;
  font-family: BodoniMT;
  height: 120px;
  width: 450px;
}
.travel {
  border: solid blue;
  border-width: 0.3em;
  width: 850px;
  height: 500px;
  font-family: BodoniMT;
  border-radius: 10px;
  text-align: center;
  max-width: 850px;
  max-height: 500px;
  margin: 30px;
}
.header{
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.icon{
  height: 60px;
  width: 150px;
  color: whitesmoke;
  font-size: 22px;
  font-family: BodoniMT;
  align-content: center;
  margin-top: 30px;
  font-weight: bolder;
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: BodoniMT;
  background-color: burlywood;
}
.carousel-image{
  border: solid orange;
  display: flex;
}
.carousel-container{
  border: solid yellow;
  display: flex;
  justify-content: center;
  margin-left: 550px;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid black;
  background-color: black;
  font-size: 20px;
  color: whitesmoke;
  font-family: BodoniMT;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}

.url{
  height: 1000px;
  border: solid fuchsia;
  font-size: 16px;
  color: whitesmoke;
  font-family: BodoniMT;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.apiLink{
  border: solid blue;
  width: 33%;
  color: black;
  font-size: 16px;
}
.trivia{
  border: solid greenyellow;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 300px;
  margin-top: 30px;
  backdrop-filter: blur(3px);
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 30px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: whitesmoke;
  margin-left: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  width: 300px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}
}
.sarahPic{
  height: 340px;
  display: flex;
  object-fit: cover;
}