/* DESKTOP */

@media (max-width: 1400px) {

.App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194844499847950427/IMG_8238.jpg?ex=65b1d4a7&is=659f5fa7&hm=bde34644ca21ca330ae56ba2cc496cb0416ce8fb74b6136c9a67340f1ca37d5c&=&format=webp&width=1200&height=500");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  height: 500px;
  width: 100%;
}
.home{
  height: 300px;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 70px;
  width: 100%;
  margin-top: 10px; 
}
.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
.homeIcon{
  height: 40px;
  width: 40px;
}
.homeButton{
  height: 50px;
  margin-top: 10px;
}
.gallery {
  border: solid whitesmoke;
  border-width: 0.9em;
  display: flex;
  justify-content: space-evenly;
  height: 490px;
  background-color: whitesmoke;
}
.galleryHead {
  display: flex;
  justify-content: center;
  color: black;
  font-family: Bodoni Moda;
  width: 300px;
  padding-top: 90px;
  height: 250px;
  font-size: 30px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em white,
    0 0 0.2em white;
}
.header{
  border-width: 0.3em;
  font-family: Bodoni Moda;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
/* NAV BAR NAV BAR NAV BAR */
.icon{
  color: #454545;
  height: 30px;
  width: 100%;
  font-size: 20px;
  font-family: Bodoni Moda;
  align-content: center;
  margin-top: 20px;
  font-weight: bolder;
  text-shadow:
    1px 1px 2px white,
    0 0 1em white,
    0 0 0.2em white;
}
a {
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: Bodoni Moda;
  color: black;
  border: solid black;
  background-color: rgb(219, 206, 186);
}
.carousel-image{
  display: flex;
}
.carousel-container{
  display: flex;
  justify-content: center;
  margin-left: 550px;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid #454545;
  background-color: #454545;
  font-size: 20px;
  color: whitesmoke;
  font-family: Bodoni Moda;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 40%;
  backdrop-filter: blur(2px);
  margin-top: 50px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 40px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: whitesmoke;
  margin-left: 20px;
  font-family: Bodoni Moda;
  font-size: 25px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.AboutMe{
  background-color: whitesmoke;
  display: flex;
  border: solid whitesmoke;
  border-width: 0.9em;
}
.about{
  display: flex;
  justify-content: space-around;
  border: solid salmon;
  font-size: 20px;
  font-family: Bodoni Moda;
  width: 350px;
  height: 260px;
  margin-left: 80px;
}
.left{
  width: 50%;
}
.right{
  width: 50%;
}
.sarahPic{
  height: 300px;
}
.sarah{
  font-family: Bodoni Moda;
  margin-top: 50px;
}
.contact{
  height: 60px;
  width: 200px;
  font-family: Bodoni Moda;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  background-color: #454545;
}
.whiteMenu{
  display: hidden;
}
.bm-menu-wrap{
  display: hidden;
}
.burgerMenu{
  display: hidden;
}
.whiteMenu{
  display: hidden;
}
.menuBar{
  display: flex;
}
.bm-menu{
  display: hidden;
}
.bm-menu-wrap{
  display: hidden;
}
.menu-btn{
  display: hidden;
}
.menu-item{
  display: hidden;
}
.bm-burger-button{
  display: hidden;
}
}

/* TABLET */



@media (max-width: 980px) {
  .App {
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194844499847950427/IMG_8238.jpg?ex=65b1d4a7&is=659f5fa7&hm=bde34644ca21ca330ae56ba2cc496cb0416ce8fb74b6136c9a67340f1ca37d5c&=&format=webp&width=990&height=466");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  width: 100%;
  height: 400px;
}
.home{
  height: 260px;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 70px;
  width: 100%;
  margin-top: 10px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
.homeIcon{
  height: 30px;
  width: 30px;
}
.homeButton{
  height: 50px;
  margin-top: 10px;
}
.gallery {
  height: 550px;
  width: 100%;
  border: solid whitesmoke;
  border-width: 0.5em;
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  display: flex;
  font-family: Bodoni Moda;
  height: 300px;
  font-size: 15px;
}
.header{
  color: whitesmoke;
  border-width: 0.3em;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.icon{
  border: none;
  color: #454545;
  width: 100%;
  height: 20px;
  font-size: 15px;
  font-family: Bodoni Moda;
  align-content: center;
  margin-top: 30px;
  font-weight: bolder;
  text-decoration: none;
  text-shadow:
    1px 1px 2px white,
    0 0 1em white,
    0 0 0.2em white;
}
a {
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: Bodoni Moda;
  background-color: #454545;
}
.carousel-image{
  display: flex;
  justify-content: center;
}
.carousel-container{
  display: flex;
  justify-content: center;
  border: solid #454545;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: Bodoni Moda;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid #454545;
  background-color: #454545;
  font-size: 20px;
  color: whitesmoke;
  font-family: BodoniMT;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}
.grid-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: Bodoni Moda;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 45%;
  margin-top: 60px;
  margin-left: 30px;
  backdrop-filter: blur(2px);
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 40px;
  margin-bottom: 5px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  font-family: Bodoni Moda;
  font-size: 16px;
}
.AboutMe{
  border: solid white;
  border-width: 0.5em;
  display: flex;
  background-color: whitesmoke;
}
.about{
  display: flex;
  font-size: 15px;
  font-family: Bodoni Moda;
  height: 150px;
  width: 400px;
  margin-left: 10px;
  border: solid #454545;
}
.left{
  width: 50%;
}
.right{
  width: 50%;
}
.sarahPic{
  width: 100%;
}
.sarah{
  font-family: Bodoni Moda;
}
.contact{
  height: 60px;
  width: 200px;
  font-family: Bodoni Moda;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  background-color: #454545;
}
.whiteMenu{
  display: hidden;
}
.bm-menu-wrap{
  display: hidden;
}
.burgerMenu{
  display: hidden;
}
.whiteMenu{
  display: hidden;
}
.menuBar{
  display: flex;
}
.bm-menu{
  display: hidden;
}
.bm-menu-wrap{
  display: hidden;
}
.menu-btn{
  display: hidden;
}
.menu-item{
  display: hidden;
}
.bm-burger-button{
  display: hidden;
}
}

/* MOBILE */
@media (max-width: 560px) {
  .App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194815865477156965/IMG_7451.jpg?ex=65b1b9fc&is=659f44fc&hm=2628436036df4fcb5eb39e5dc58ddd6e5bec2efe2ab58432f85d518a4ae646b0&=&format=webp&width=500&height=625");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 400px;
  width: 100%;
}
.SubNav{
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.icons{
  align-items: center;
  padding-top: 15px;
  color: whitesmoke;
  width: 100%;
}
.homeIcon{
  height: 30px;
  border: none;
  background-color: none;
}
.homeButton{
  width: 40px;
  height: 40px;
  margin-top: 13px;
  margin-left: 0px;
}
.gallery {
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  color: whitesmoke;
  font-family: Bodoni Moda;
  height: 120px;
  width: 450px;
}
.header{
  border: none;
}
.Navbar{
  border: solid whitesmoke;
  border-width: 0.3em;
  height: 70px;
  width: 100%;
}
.icon{
 display: none;
}
.menuBar{
  display: flex;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  z-index: 10;
}
.menu{
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
}
.carousel-caption-bottom{
  font-family: Bodoni Moda;
  background-color: burlywood;
}
.carousel-image{
  display: flex;
}
.carousel-container{
  display: flex;
  justify-content: center;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: Bodoni Moda;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 20px;
  font-family: Bodoni Moda;
  color: whitesmoke;
}
.skillHead{
  border: solid #454545;
  background-color: #454545;
  font-size: 20px;
  color: whitesmoke;
  font-family: Bodoni Moda;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: Bodoni Moda;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  margin-top: 40px;
  margin-left: 10px;
  width: 48%;
  backdrop-filter: blur(1px);
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 30px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: white;
  font-family: Bodoni Moda;
  font-size: 15px;
  text-shadow:
    1px 1px 2px whitesmoke,
    0 0 1em whitesmoke,
}
.AboutMe{
  background-color: whitesmoke;
  border: solid white;
  border-width: 0.6em;
  width: 100%;
}
.about{
  font-size: 15px;
  font-family: Bodoni Moda;
  height: 150px;
  width: 250px;
  margin-left: 0px;
  border: none;
}
.left{
  width: 250px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.right{
  display: flex;
  height: 300px;
}
.sarahPic{
  display: flex;
  height: 280px;
  margin-top: 50px;
}
.sarah{
  font-family: Bodoni Moda;
  height: 100px;
  width: 250px;
  margin-top: 30px;
  font-size: 25px;
}
.contact{
  display: flex;
  margin-left: 50px;
  height: 50px;
  width: 150px;
  font-family: Bodoni Moda;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  background-color: #454545;
}
.burgerMenu{
  border: solid red;
  height: 40px;
  width: 40px;
}
.whiteMenu{
  border: solid blue;
  height: 40px;
  width: 40px;
}
.menuBar{
  border: solid purple;
  padding-left: 0px;
  height: 100px;
  width: 100px;
  display: flex;
}
/* .bm-menu{
  height: 40px;
  width: 40px;
} */
.bm-menu-wrap{
  border: solid salmon;
  font-family: Bodoni Moda;
  color: white;
  width: 150px;
  overflow: hidden;
  display: flex;
}
.menu-btn{
  border: solid green;
  height: 40px;
  width: 40px;
}
.menu-item{
  display: flex;
  border: solid fuchsia;
  color: white;
  font-family: Bodoni Moda;
  font-size: 20px;
  height: 40px;
  width: 70px;
}
.bm-burger-button{
  display: inline;
  height: 40px;
  width: 40px;
}
}
