/* DESKTOP */

@media (max-width: 1400px) {

.App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194844499847950427/IMG_8238.jpg?ex=65b1d4a7&is=659f5fa7&hm=bde34644ca21ca330ae56ba2cc496cb0416ce8fb74b6136c9a67340f1ca37d5c&=&format=webp&width=1200&height=500");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  height: 500px;
  width: 100%;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 60px;
  width: 100%;
  margin-top: 150px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
.gallery {
  border: solid whitesmoke;
  display: flex;
  justify-content: space-evenly;
  height: 490px;
  background-color: rgb(243, 229, 208);
}
.galleryHead {
  display: flex;
  color: black;
  font-family: Bodoni Moda;
  height: 120px;
  width: 400px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em white,
    0 0 0.2em white;
}
.header{
  border-width: 0.3em;
  font-family: Bodoni Moda;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
/* NAV BAR NAV BAR NAV BAR */
.icon{
  color: black;
  height: 30px;
  width: 100%;
  font-size: 20px;
  font-family: Bodoni Moda;
  align-content: center;
  margin-top: 20px;
  font-weight: bolder;
  text-shadow:
    1px 1px 2px white,
    0 0 1em white,
    0 0 0.2em white;
}
a {
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: Bodoni Moda;
  color: black;
  border: solid black;
  background-color: rgb(219, 206, 186);
}
.carousel-image{
  display: flex;
}
.carousel-container{
  display: flex;
  justify-content: center;
  margin-left: 550px;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid black;
  background-color: black;
  font-size: 20px;
  color: whitesmoke;
  font-family: BodoniMT;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 40%;
  backdrop-filter: blur(2px);
  margin-top: 50px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 40px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: whitesmoke;
  margin-left: 20px;
  font-family: Bodoni Moda;
  font-size: 25px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.AboutMe{
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1195078014199922758/IMG_4646.jpg?ex=65b2ae22&is=65a03922&hm=6c77c2a9e710fab1af77241ce2b78350b77ef1e3771399d2914a25c4a83172b2&=&format=webp&width=1119&height=840");
}
.sarahPic{
  height: 300px;
  border: solid yellow;
  width: 1000px;
  display: cover;
}
}

/* TABLET */
@media (max-width: 980px) {
  .App {
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194844499847950427/IMG_8238.jpg?ex=65b1d4a7&is=659f5fa7&hm=bde34644ca21ca330ae56ba2cc496cb0416ce8fb74b6136c9a67340f1ca37d5c&=&format=webp&width=990&height=466");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  width: 100%;
  height: 100%;
}
.SubNav{
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 50px;
  width: 100%;
  margin-top: 100px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
.gallery {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  border: solid white;
  border-width: 0.5em;
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  display: none;
}
.header{
  color: whitesmoke;
  border-width: 0.3em;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.icon{
  border: none;
  color: black;
  width: 100%;
  height: 20px;
  font-size: 15px;
  font-family: Bodoni Moda;
  align-content: center;
  margin-top: 30px;
  font-weight: bolder;
  text-decoration: none;
  text-shadow:
    1px 1px 2px white,
    0 0 1em white,
    0 0 0.2em white;
}
a {
  text-decoration: none;
}
.carousel-caption-bottom{
  font-family: Bodoni Moda;
  background-color: burlywood;
}
.carousel-image{
  display: flex;
  justify-content: center;
  width: 400px;
}
.carousel-container{
  display: flex;
  justify-content: center;
  border: solid black;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 40px;
  font-family: BodoniMT;
  color: whitesmoke;
}
.skillHead{
  border: solid black;
  background-color: black;
  font-size: 20px;
  color: whitesmoke;
  font-family: BodoniMT;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  width: 40%;
  margin-top: 50px;
  margin-left: 30px;
  backdrop-filter: blur(3px);
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 35px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: #fbf9f9;
  margin-left: 20px;
  font-family: Bodoni Moda;
  font-size: 22px;
  text-shadow:
    1px 1px 2px rgb(254, 253, 253),
    3 5 5em white,
    5 5 0.7em white;
}
}

/* MOBILE */
@media (max-width: 560px) {
  .App {
  text-align: center;
  background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1194815865477156965/IMG_7451.jpg?ex=65b1b9fc&is=659f44fc&hm=2628436036df4fcb5eb39e5dc58ddd6e5bec2efe2ab58432f85d518a4ae646b0&=&format=webp&width=500&height=625");
  border: solid whitesmoke;
  background-color: whitesmoke;
  border-width: 0.9em;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.SubNav{
  background-color: whitesmoke;
  border-width: 0.3em;
  height: 57px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.icons{
  align-items: center;
  color: whitesmoke;
  width: 100%;
}
.gallery {
  border: solid fuchsia;
  display: flex;
  justify-content: space-around;
}
.galleryHead {
  border: solid green;
  color: whitesmoke;
  font-family: BodoniMT;
  height: 120px;
  width: 450px;
}
.header{
  border: solid purple;
  height: 260px;
  width: 80px;
  flex-direction: column;
  justify-content: right;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em black;
}
.Navbar{
  height: 0px;
  width: 0px;
}
.icon{
  display: none;
}

.carousel-caption-bottom{
  font-family: BodoniMT;
  background-color: burlywood;
}
.carousel-image{
  border: solid orange;
  display: flex;
}
.carousel-container{
  border: solid yellow;
  display: flex;
  justify-content: center;
  margin-left: 550px;
}
.projectTitle{
  border: solid whitesmoke;
  color: whitesmoke;
  font-size: 20px;
  font-family: BodoniMT;
}
.skills{
  background-color: whitesmoke;
}
.skillTitle{
  font-size: 20px;
  font-family: Bodoni Moda;
  color: whitesmoke;
}
.skillHead{
  border: solid black;
  background-color: black;
  font-size: 20px;
  color: whitesmoke;
  font-family: Bodoni Moda;
}
.logosTop{
  display: flex;
  justify-content: space-evenly;
}
.logosBottom{
  display: flex;
  justify-content: space-evenly;
}
.html{
  height: 90px;
  width: 90px;
}
.css{
  height: 90px;
  width: 90px;
}
.js{
  height: 90px;
  width: 90px;
}
.mongo{
  height: 90px;
  width: 90px;
}
.python{
  height: 90px;
  width: 90px;
}
.react{
  height: 90px;
  width: 90px;
}
.node{
  height: 90px;
  width: 90px;
}
.sql{
  height: 90px;
  width: 90px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}
.layout{
  text-align: center;
  margin: 20px;
}
.photoHead{
  font-family: BodoniMT;
  font-size: 25px;
}
.photoCard{
  height: 200px;
  width: 200px;
}
.profileText{
  padding: 0px;
  margin-top: 10px;
  margin-left: 80px;
  width: 220px;
  backdrop-filter: blur(1px);
}
.titleText{
  color: whitesmoke;
  font-family: Tomatoes;
  font-size: 30px;
  text-shadow:
    1px 1px 2px white,
    0 0 1em black,
    0 0 0.2em white;
}
.jobText{
  color: whitesmoke;
  font-family: Bodoni Moda;
  font-size: 15px;
  text-shadow:
    1px 1px 2px whitesmoke,
    0 0 1em whitesmoke,
}
}
.sarahPic{
  height: 340px;
  display: flex;
  object-fit: cover;
}